* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.bg-image {
  /* The image used */
  background-image: url("../../static/images/insulin.jpg");

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

form {
  background: linear-gradient(#e66465, #9198e5);
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 25%;
  padding: 20px;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input {
  width: 500px;
  margin-bottom: 10px;
  background: rgba(0, 0, 0, 0.7);
  border: none;
  outline: none;
  padding: 15px;
  font-size: 13px;
  color: #fff;
  border-radius: 20px;
  box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2),
    0 1px 1px rgba(255, 255, 255, 0.2);
  -webkit-transition: box-shadow 0.5s ease;
  -moz-transition: box-shadow 0.5s ease;
  -o-transition: box-shadow 0.5s ease;
  -ms-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
}

input:hover {
  background: rgba(255, 255, 255, 0.3);
  font-size: 15px;
  border: black 5px solid;
}

input:focus {
  box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4),
    0 0.5px 0.5px rgba(255, 255, 255, 0.2);
}

.plotly-container {
  margin: 0 auto;
  margin-top: 100px;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 1rem;
  width: 55%;
}

.tableau-container {
  margin: 0 auto;
  margin-top: 25px;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 1rem;
}

footer {
  background-color: #9198e5;
  position: absolute;
  bottom: -100px;
  width: 100%;
}

nav {
  padding-left: 50px;
  padding-right: 50px;
}

@media (max-width: 1200px) {
  .tableau-container {
    margin: 0 auto;
    margin-top: 0;
    padding: 0rem;
    width: 100%;
    height: 75%;
  }

  form {
    width: 75%;
  }
}
