* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../../static/images/insulin.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.plotly-container {
  margin: 0 auto;
  margin-top: 100px;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 3rem;
  width: 75%;
}

.tableau-container {
  margin: 0 auto;
  margin-top: 25px;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 1rem;
  width: 55%;
}

form {
  background: linear-gradient(#e66465, #9198e5);
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  width: 25%;
  padding: 20px;
  margin-top: 150px;
  text-align: center;
}

footer {
  background-color: #9198e5;
  position: absolute;
  bottom: -100px;
  width: 100%;
}

nav {
  padding-left: 50px;
  padding-right: 50px;
}
